#
#       __ _     _
#      / _(_)___| |__
#     | |_| / __| '_ \
#     |  _| \__ \ | | |
#     |_| |_|___/_| |_|
#

# Export path
# asdf path
source (brew --prefix asdf)/asdf.fish

# Go path
set -x GOPATH $HOME/go
set -x PATH $PATH $GOPATH/bin

# Universal environment
# Editors path
{% if VIM == "neovim" %}
set -U EDITOR /usr/local/bin/nvim
set -U VISUAL /usr/local/bin/nvim
{% else %}
set -U EDITOR /usr/local/bin/vim
set -U VISUAL /usr/local/bin/vim
{% endif %}
set -U PAGER /usr/bin/less

# Set history options
set -U HISTSIZE 10000
set -U SAVEHIST 100000

# Set theme
set -U TERM xterm-256color

# Set fzf options
set -x FZF_DEFAULT_COMMAND 'rg --files --hidden --glob "!.git"'
set -x FZF_DEFAULT_OPTS '--no-sort --exact --cycle --exit-0 --select-1 --multi --ansi --height 50% --reverse --border --prompt=">>> " --bind=ctrl-j:preview-down --bind=ctrl-k:preview-up'

# Alias
# Linux command
alias ls "gls --color=auto -F"
alias ll "ls -aFGlh"

# Git
alias gcd "cd (git rev-parse --show-toplevel)"
alias gb "git branch"
alias gbr "git branch -r"
alias gs "git status"
alias gd "git diff"
alias gv "git difftool --tool=vimdiff --no-prompt"
alias gp "git pull"
alias gg "git grep"
alias gl "git log"
# alias glg "git log --graph --color=always --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' | fzf --preview "echo {} | awk '{print \$2}' | xargs git show --color=always""
alias glg "git log --graph --color=always --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'"
# alias gc "git checkout (git branch -a | tr -d \  | sed -e "s/^\*\s*//g" | fzf --preview "git log --color=always {}" | head -n 1 | perl -pe "s/remotes\/origin\///g")"
alias gc "git checkout"

# Docker
alias di "docker images"
alias dp "docker ps"
alias dpa "docker ps -a"
alias dr "docker run"
alias de "dokcer exec"
alias dk "docker kill"
alias dka "docker kill (docker ps -q)"
alias dcp "docker container prune -f"

# Editor
{% if VIM == "neovim" %}
alias vim (brew --prefix)/bin/nvim
{% else %}
alias vim (brew --prefix)/bin/vim
{% endif %}

# Own functions
# Set key binding
bind \cx change_recent_directory

# Init function
# Attach tmux session at launch new terminal
# function attach_tmux_session_if_needed
#     set ID (tmux list-sessions)
#     if test -z "$ID"
#         tmux new-session
#         return
#     end

#     set new_session "Create New Session"
#     set ID (echo $ID\n$new_session | fzf | cut -d: -f1)
#     if test "$ID" = "$new_session"
#         tmux new-session
#     else if test -n "$ID"
#         tmux attach-session -t "$ID"
#     end
# end

# if test -z $TMUX && status --is-login
#     attach_tmux_session_if_needed
# end

# Init starship
starship init fish | source
