#
#       __ _     _
#      / _(_)___| |__
#     | |_| / __| '_ \
#     |  _| \__ \ | | |
#     |_| |_|___/_| |_|
#

# Nightfox Color Palette
# Style: nightfox
# Upstream: https://github.com/edeneast/nightfox.nvim/raw/main/extra/nightfox/nightfox_fish.fish
set -l foreground cdcecf
set -l selection 2b3b51
set -l comment 738091
set -l red c94f6d
set -l orange f4a261
set -l yellow dbc074
set -l green 81b29a
set -l purple 9d79d6
set -l cyan 63cdcf
set -l pink d67ad2

# Syntax Highlighting Colors
set -g fish_color_normal $foreground
set -g fish_color_command $cyan
set -g fish_color_keyword $pink
set -g fish_color_quote $yellow
set -g fish_color_redirection $foreground
set -g fish_color_end $orange
set -g fish_color_error $red
set -g fish_color_param $purple
set -g fish_color_comment $comment
set -g fish_color_selection --background=$selection
set -g fish_color_search_match --background=$selection
set -g fish_color_operator $green
set -g fish_color_escape $pink
set -g fish_color_autosuggestion $comment

# Completion Pager Colors
set -g fish_pager_color_progress $comment
set -g fish_pager_color_prefix $cyan
set -g fish_pager_color_completion $foreground
set -g fish_pager_color_description $comment

# Export path
# Homebrew path
set -x PATH $PATH /opt/homebrew/bin

# asdf path
source (brew --prefix asdf)/libexec/asdf.fish
set -x ASDF_DIR (brew --prefix asdf)/libexec
set -x PATH $PATH $HOME/.asdf/shims

# Go path
set -x GOPATH $HOME/go
set -x PATH $PATH $GOPATH/bin

# Editors path
set -x EDITOR (brew --prefix)/bin/nvim
set -U PAGER /usr/bin/less

# Set history
set -U HISTSIZE 10000
set -U SAVEHIST 100000

# Set theme
set -U TERM {{ TERM }}

# Set fzf
set -x FZF_DEFAULT_COMMAND 'rg --files --hidden --glob "!.git"'
set -x FZF_DEFAULT_OPTS '--no-sort --exact --cycle --exit-0 --select-1 --multi --ansi --height 70% --reverse --border --prompt=">>> " --bind=ctrl-j:preview-down --bind=ctrl-k:preview-up'

# Set tmux
set -x TMUX_TMPDIR "$HOME/.tmux/tmp/"

# Set OPENAI API_KEY
set -x OPENAI_API_KEY {{ OPENAI_API_KEY }}

# Alias
# exa command
if type -q exa
    alias ls "exa --long --git --icons"
    alias ll "exa --long --git --icons --all"
    alias tree "exa --long --git --icons --all --tree -I .git"
else
    alias ls "gls --color=auto -F"
    alias ll "gls -aFGlh"
end

# bat command
if type -q bat
    alias cat "bat --wrap auto --theme=Coldark-Dark --paging=never"
end

# Git
alias g "git"
alias gcd "cd (git rev-parse --show-toplevel)"
alias gs "git status"
alias gd "git diff"
alias gdv "git difftool --tool=vimdiff --no-prompt"
alias gp "git pull"
alias gg "git grep"
alias glg "git log --graph --branches --remotes --color=always --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'"
alias gc "git checkout"

# Docker
alias d "docker"
alias di "docker images"
alias dp "docker ps"
alias dka "docker kill (docker ps -q)"
alias dcp "docker container prune -f"
alias dsa "docker stop (docker ps -q)"

# Docker compose
alias dcomp "docker compose"

# Editor
alias v (brew --prefix)/bin/nvim
alias vim (brew --prefix)/bin/nvim

# Terraform
alias tf "terraform"

# Kubectl
alias k "kubectl"

# Make
alias m "make"

# Open memo file
alias memo "vim ~/tmp/memo.txt"

# Set key binding
bind \cx change_recent_directory

# Init starship
starship init fish | source

# Define direnv
if type -q direnv
    eval (direnv hook fish)
end
