# General
import = [
"~/.config/alacritty/colors.toml",
"~/.config/alacritty/cursor.toml",
"~/.config/alacritty/font.toml",
"~/.config/alacritty/mouse.toml",
"~/.config/alacritty/scrolling.toml",
"~/.config/alacritty/selection.toml",
"~/.config/alacritty/window.toml",
]

working_directory = "None"
live_config_reload = true

[shell]
program = "/opt/homebrew/bin/{{ SHELL }}"
args = ["-l", "-c", "zellij attach --index 0 --create"]

# Env
[env]
TERM = "{{ TERM }}"
