---
- name: Homebrew tap
  community.general.homebrew_tap:
    name: "{{ homebrew_tap_item }}"
    state: present
  loop: "{{ homebrew_taps }}"
  loop_control:
    loop_var: homebrew_tap_item

- name: Upgrade homebrew cask all packages
  community.general.homebrew_cask:
    update_homebrew: true
    upgrade_all: true

- name: Install homebrew cask packages
  community.general.homebrew_cask:
    name: "{{ homebrew_cask_app_item }}"
    state: present
    install_options: "appdir=/Applications"
    accept_external_apps: true
    sudo_password: "{{ ansible_become_password | default(omit) }}"
  loop: "{{ homebrew_cask_apps }}"
  loop_control:
    loop_var: homebrew_cask_app_item

- name: Update homebrew and upgrade all packages
  community.general.homebrew:
    update_homebrew: true
    upgrade_all: true

- name: Install homebrew packages
  community.general.homebrew:
    name: "{{ homebrew_package_item }}"
    state: present
  loop: "{{ homebrew_packages }}"
  loop_control:
    loop_var: homebrew_package_item
